<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/reservationPages.css">
</head>
<body>
    {% include 'nav-menu.html' %}
    <div class="bg-main dates-bg">
        <div class="dates">
            <!-- <img src="/static/images/availableRoomsbg.png" class=""/> -->
            <h2>DATE SELECTION</h2>
            <p style="color: white;">Choose your dates. Plan your trip. Relax and Enjoy the nature. </p>
            <div class="reserve-progress">
                <p><span class="current">1 Dates</span><span>2 Rooms</span><span>3 Extras</span><span>4 Payment</span></p>
            </div>
        </div>
    </div>

    <div class="dates-form">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li style="color: red">{{ message }}</li>
                        {% endfor %}
                    </ul><br>
                {% endif %}
            {% endwith %}
            <form action="/room-selection" method="post">
                <div class="dates-availability-form">
                    <div>
                        <label for="check-in">Check-in Date</label><br> 
                        <input type="date" id="check-in" name="check-in" required>
                    </div>
                    <div>
                        <label for="check-out">Check-out Date</label><br>
                        <input type="date" id="check-out" name="check-out" required>
                    </div>
                    <div>
                        <label for="people">No. of People</label><br>
                        <input type="number" id="people" name="people" required>
                    </div>
                    <button type="submit" class="dates-availability-submit">Check Availability</button>
                </div>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>