<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/reservationPages.css">
</head>
<body>
    <nav class="nav-menu">
        <a href="/"><img src="../static/images/logo.png" class="logo" href="/"/></a>
        <ul class="nav-list">
            <li><a href="#">Events</a></li>
            <li><a href="{{ url_for('rooms') }}">Rooms</a></li>
            <li><a href="{{ url_for('food' )}}">Food</a></li>
            <li><a href="#">Amenities</a></li>
            <li><a href="{{ url_for('dateSelection')}}" class="active">Reserve</a></li>
        </ul>
    </nav>
    <div class="bg-main dates-bg">
        <div class="dates">
            <!-- <img src="/static/images/availableRoomsbg.png" class=""/> -->
            <h2>DATE SELECTION</h2>
            <p style="color: white;">Choose your dates. Plan your trip. Relax and Enjoy the nature. </p>
            <div class="reserve-progress">
                <p><span class="current">1 Dates</span><span>2 Rooms</span><span>3 Extras</span><span>4 Payment</span></p>
            </div>
        </div>
    </div>

    <div class="dates-form">
        <form action="/room-selection" method="">
            <div class="dates-availability-form">
                <div>
                    <label for="check-in">Check-in Date</label><br> 
                    <input type="date" id="check-in" name="check-in" required>
                </div>
                <div>
                    <label for="check-out">Check-out Date</label><br>
                    <input type="date" id="check-out" name="check-out" required>
                </div>
                <div>
                    <label for="persons">No. of People</label><br>
                    <input type="number" id="persons" name="persons" required>
                </div>
                <button class="dates-availability-submit" onsubmit="">Check Availability</button>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="footer-left">
            <a href="/"><img src="../static/images/logo.png" class="logo" href="/"/></a>
            <p>Contact: (818) 232-23245</p>
            <p>18111 Nordhoff St,<br> Northridge,<br> CA 91330</p>
            <div class="social-container">
                <a><img src="../static/images/socials/Facebook.png" /></a>
                <a><img src="../static/images/socials/Instagram.png" /></a>
                <a><img src="../static/images/socials/Youtube.png" /></a>
            </div>
        </div>
        <div class="footer-right">
            <p class="heading">Stay in touch!</p>
            <p>Sign up for our news and updates.</p>
            <input placeholder="Name" id="name"><br>
            <input placeholder="Email address" id="email"><br>
            <button>Send</button>
        </div>
    </div>
</body>
</html>