<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/food.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Goblin One' rel='stylesheet'>

</head>
<body>
    {% include 'nav-menu.html' %}
    <div class="bg-main food-bg">
        <div class="food">
            <h2>Menu</h2>
            <button onclick="orderFood()" class="foodButton">
                Contact Us
            </button>
        </div>
    </div>
        <div class="udonIntro">
            <p>Udon - A thick noodle made from wheat flour.</p>
        </div>
        <br>
    <div class="foodWrapper">
        <div class="foodItem">
            <div class="menuItemImage">
                <img src="/static/images/food/beef-1.png" style="width: 199px;">
            </div>
            <div class="menuItemDescription">
                <h3>Tan Tan</h3>
                <p>Spicy sesame chili oil broth with ground soy mean and bok choy.</p>
            </div>
        </div>
        <div class="foodItem">
            <div class="menuItemImage">
                <img src="/static/images/food/curry-nikutama.png" style="width: 199px;">
            </div>
            <div class="menuItemDescription">
                <h3>Curry Nikutama</h3>
                <p>Japanese curry sauce with our homemade Udon.</p>
            </div>
        </div>
        <div class="foodItem">
            <div class="menuItemImage">
                <img src="/static/images/food/kake.png" style="width: 199px;">
            </div>
            <div class="menuItemDescription">
                <h3>Kake</h3>
                <p>Our fresh made Udon in dashi.</p>
            </div>
        </div>
        <div class="foodItem">
            <div class="menuItemImage">
                <img src="/static/images/food/Tan-Tan-copy.png" style="width: 199px;">
            </div>
            <div class="menuItemDescription">
                <h3>Tan Tan</h3>
                <p>Spicy sesame chili oil broth with ground soy mean and bok choy.</p>
            </div>
        </div>
        <div class="foodItem">
            <div class="menuItemImage">
                <img src="/static/images/food/kitsune-1.png" style="width: 199px;">
            </div>
            <div class="menuItemDescription">
                <h3>Tan Tan</h3>
                <p>Spicy sesame chili oil broth with ground soy mean and bok choy.</p>
            </div>
        </div>
        <div class="foodItem">
            <div class="menuItemImage">
                <img src="/static/images/food/tonkotsu.png" style="width: 199px;">
            </div>
            <div class="menuItemDescription">
                <h3>Miso Udon</h3>
                <p>Vegeterian Udon, very tasty.</p>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    
</body>
</html>

<script>
    function orderFood(){
        let order = prompt("Write your order here or call (818) 232-23245");
        let confirmOrder = confirm("Are you sure you want to place this order?");
        alert("You have placed your order of: " + order);
    }
</script>