<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav-menu">
        <a href="/"><img src="../static/images/logo.png" class="logo" href="/"/></a>
        <ul class="nav-list">
            <li><a href="#">Rooms</a></li>
            <li><a href="{{ url_for('food' )}}">Food</a></li>
            <li><a href="#">Amenities</a></li>
            <li><a href="#">Reserve</a></li>
        </ul>
    </nav>
</body>
</html>
