<div class="footer">
    <div class="footer-left" style="text-shadow: 1px 1px 2px black;">
        <a href="/"><img src="../static/images/logo.png" class="logo" href="/"/></a>
        <p>Contact: (818) 232-23245</p>
        <p>18111 Nordhoff St,<br> Northridge,<br> CA 91330</p>
        <div class="social-container">
            <a><img src="../static/images/socials/Facebook.png" /></a>
            <a><img src="../static/images/socials/Instagram.png" /></a>
            <a><img src="../static/images/socials/Youtube.png" /></a>
        </div>
    </div>
    <div class="footer-right" style="text-shadow: 1px 1px 2px black;">
        <p class="heading">Stay in touch!</p>
        <p>Sign up for our news and updates.</p>
        <input placeholder="Name" id="name"><br>
        <input placeholder="Email address" id="footer-email"><br>
        <button onclick="funnyMessage()">Send</button>
    </div>
</div>

<script>
    function funnyMessage(){
        alert('Hehe, you clicked the send button!');
    }
</script>