<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <label for="xInput">x:</label>
    <input type="text" id="xInput" />

    <label for="yInput">y:</label>
    <input type="text" id="yInput" />
    <button onclick="addAndMultiply()">Calculate</button>
    <label for="output">Output:</label>
    <input type="text" id="output" name="output" readonly>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
