<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- <nav class="nav-menu">
        <img src="../static/images/logo.png" class="logo"/>
        <ul class="nav-list">
            <li>Hotel Info</li>
            <li>Rooms</li>
            <li>Food</li>
            <li>Reserve</li>
        </ul>
    </nav> -->

    <nav>
        <a href="#">Home</a>
        <div class="dropdown">
            <a href="#">Rooms & Suites</a>
            <div class="dropdown-content">
                <a href="#">Single Rooms</a>
                <a href="#">Double Rooms</a>
                <a href="#">Suites</a>
            </div>
        </div>
        <a href="#">Special Offers</a>
        <a href="#">Reservation</a>
        <a href="#">Amenities</a>
        <a href="#">Dining</a>
        <a href="#">Location</a>
        <a href="#">Contact</a>
        <a href="#">Gallery</a>
        <a href="#">Reviews</a>
        <a href="#">About Us</a>
        <a href="#">Blog</a>
    </nav>
</body>
</html>
