<nav class="nav-menu">
    <a href="/"><img src="../static/images/logo.png" class="logo" href="/"/></a>
    <ul class="nav-list">
        <li><a href="{{ url_for('events') }}">Events</a></li>
        <li><a href="{{ url_for('rooms') }}">Rooms</a></li>
        <li><a href="{{ url_for('food' )}}">Food</a></li>
        <li><a href="{{ url_for('amenities')}}">Amenities</a></li>
        <li><a href="{{ url_for('dateSelection')}}">Reserve</a></li>
        <li><a href="{{ url_for('user')}}" class="userLogo"><img src="../static/images/userLogo.png" alt="user logo" style="width: 40px; height: 40px;"></a></li>
    </ul>
</nav>

