<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/payment.css">
    <link rel="stylesheet" href="../static/css/reservationPages.css">
</head>
<body>
    {% include 'nav-menu.html' %}
    <div class="bg-main payment-bg">
        <div class="rooms">
            <h2>Checkout</h2>
            <P></P>
            <div class="reserve-progress">
                <p><span>1 Dates</span><span>2 Rooms</span><span>3 Extras</span><span class="current">4 Payment</span></p>
            </div>
        </div>
    </div>
    <div class="payment-container">
        <div class="left">
            <div class="customer-info">
                <h2>Customer Information</h2>
                <form id="payment-form" method="POST" action="/temp">
                    <div class="names">
                        <div>
                            <label for="first-name">First Name:</label>
                            <input type="text" id="first-name" name="first-name" required><br>
                        </div>
                        <div> 
                            <label for="last-name">Last Name:</label>
                            <input type="text" id="last-name" name="last-name" required><br>
                        </div>
                    </div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br>

                    <div class="card-info">
                        <h2>Card Information</h2>
                        <div id="card-element"></div>
        
                        <!-- Display any errors from Stripe -->
                        <div id="card-errors" role="alert" style="color: red"></div>
                        <!-- Button to submit the form and trigger Stripe payment -->
                        <button type="submit" id="submit-payment">PAY NOW</button>
                    </div>

                        <!-- Stripe.js and handle payment form submission -->
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51Or85ZH77c6gByb9H4GM4qH5gLGhtjUWcwf2amkD0av60ziieQ0u4WZF8qvf8wu24ZHEgAXV5mgjazvxRIp60TFh009i6KiT8y');
                        var elements = stripe.elements();
                        var card = elements.create('card');
                        card.mount('#card-element');

                        // Handle real-time validation errors on the card Element
                        card.addEventListener('change', function(event) {
                            var displayError = document.getElementById('card-errors');
                            if (event.error) {
                                displayError.textContent = event.error.message;
                            } else {
                                displayError.textContent = '';
                            }
                        });

                        // Handle form submission
                        var form = document.getElementById('payment-form');
                        form.addEventListener('submit', function(event) {

                        // Fetch the client secret from your server
                        fetch('/create-payment-intent', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                amount: 1000,  // Replace with the actual amount in cents
                                currency: 'usd',
                            }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Use the client secret to confirm the card payment
                            stripe.confirmCardPayment(data.clientSecret, {
                                payment_method: {
                                    card: card,
                                },
                            })
                            .then(result => {
                                if (result.error) {
                                    // Handle errors
                                    document.getElementById('card-errors').textContent = result.error.message;
                                } else {
                                    // Payment succeeded
                                    window.location.href = '/temp';
                                }
                            });
                        });
                        });
                    </script>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="info-card">
                <h3 >Your Stay</h3>
                <div class="info">
                    <p><strong>Check-in:</strong></p>
                    <p>{{ check_in }}</p>
                
                    <p><strong>Check-out:</strong></p>
                    <p>{{ check_out }}</p>
                
                    <p><strong>Guests:</strong></p>
                    <p>{{ people }}</p>
                
                    <p><strong>Nights:</strong></p>
                    <p>{{ nights }}</p>

                    <p><strong>Room ({{ room_selection }}):</strong></p>
                    <p>${{ roomCost }}</p>

                    <p><strong>Extras ({{ extras_selection }}):</strong></p>
                    <p>${{ extrasCost }}</p>
                    <p><strong>Taxes:</strong></p>
                    <p>$50</p>
            
                    <p class="total"><strong>Total:</strong></p>
                    <p style="margin-top: 20px; font-weight: bold; font-size: 22px;">${{ total }}</p>
                </div>   
                <p>*Changes in taxes or fees will affect the total price.</p>                                
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>
</html>