<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/reservationPages.css">
</head>
<body>
    <nav class="nav-menu">
        <a href="/"><img src="../static/images/logo.png" class="logo" href="/"/></a>
        <ul class="nav-list">
            <li><a href="#">Events</a></li>
            <li><a href="{{ url_for('rooms') }}">Rooms</a></li>
            <li><a href="{{ url_for('food') }}">Food</a></li>
            <li><a href="#">Amenities</a></li>
            <li><a href="{{ url_for('dateSelection')}}" class="active">Reserve</a></li>
        </ul>
    </nav>

    <div class="bg-main rooms-bg">
        <div class="rooms">
            <h2>AVAILABLE ROOMS</h2>
            <P></P>
            <div class="reserve-progress">
                <p><span>1 Dates</span><span class="current">2 Rooms</span><span>3 Extras</span><span>4 Payment</span></p>
            </div>
        </div>
    </div>
    <div class="reserveInfo">
        <div class="elements">
            <img src="../static/images/reserveInfo/calendarDates.png" />
            <p class="text">{{ form.get('check-in') }}</p>
        </div>
        <div class="elements">
            <img src="../static/images/reserveInfo/calendarDates.png" />
            <p class="text">{{ form.get('check-out') }}</p>
        </div>
        <div class="elements">
            <img src="../static/images/reserveInfo/people.png" />
            <p class="text">1 room, {{ form.get('people') }} adults</p>
        </div>
        <div class="elements">
            <img src="../static/images/reserveInfo/promoCode.png" />
            <p class="text">Promo Code</p>
        </div>
    </div>
    <div class="available-rooms">
        {% for room in available_rooms %}
            <div class="room-card">
                {% if room.lower() == 'standard' %}
                    <img src="../static/images/room-selection/standard.png">
                    <div class="room-info">
                        <h2 class="heading">STANDARD ROOM</h2>
                        <p class="description">Features Proper beds outfitted with imported linens, sitting areas, and well-appointed bathrooms with generous walk-in showers, Parachute Home robes, and Aesop amenities.</p>
                        <p class="price">$109/night</p>
                        <button class="view-room">VIEW ROOM</button>
                        <!--<button class="select" onclick="window.location.href='{{ url_for('extraSelection') }}'">SELECT</button>-->
                    </div>
                {% elif room.lower() == 'deluxe' %}
                    <img src="../static/images/room-selection/deluxe.png">
                    <div class="room-info">
                        <h2 class="heading">DELUXE ROOM</h2>
                        <p class="description">Features Proper beds outfitted with imported linens, sitting areas, and well-appointed bathrooms with generous walk-in showers, Parachute Home robes, and Aesop amenities.</p>
                        <p class="price">$309/night</p>
                        <button class="view-room">VIEW ROOM</button>
                        <button class="select">SELECT</button>
                    </div>
                {% else %} 
                    <img src="../static/images/room-selection/superDeluxe.png">
                    <div class="room-info">
                        <h2 class="heading">SUPER DELUXE ROOM</h2>
                        <p class="description">Features Proper beds outfitted with imported linens, sitting areas, and well-appointed bathrooms with generous walk-in showers, Parachute Home robes, and Aesop amenities.</p>
                        <p class="price">$509/night</p>
                        <button class="view-room">VIEW ROOM</button>
                        <button class="select">SELECT</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="footer">
        <div class="footer-left">
            <a href="/"><img src="../static/images/logo.png" class="logo" href="/"/></a>
            <p>Contact: (818) 232-23245</p>
            <p>18111 Nordhoff St,<br> Northridge,<br> CA 91330</p>
            <div class="social-container">
                <a><img src="../static/images/socials/Facebook.png" /></a>
                <a><img src="../static/images/socials/Instagram.png" /></a>
                <a><img src="../static/images/socials/Youtube.png" /></a>
            </div>
        </div>
        <div class="footer-right">
            <p class="heading">Stay in touch!</p>
            <p>Sign up for our news and updates.</p>
            <input placeholder="Name" id="name"><br>
            <input placeholder="Email address" id="email"><br>
            <button>Send</button>
        </div>
    </div>
</body>
</html>