<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    {% include 'nav-menu.html' %}
    <div id="standard-room" class="bg-main standard-bg">
        <div class="room-heading">
            <h2>Standard Room</h2>
        </div>
    </div>
    <div class="amenities">
        <img src="/static/images/roomamenities.png">
    </div>
    <div class="slider">
        <div class="slides">
            <img src="../static/images/standard-room/The Standard to open design-led Asia flagship hotel in Bangkok 1.png" />
            <img src="../static/images/standard-room/Hotel Rooms Downtown New Orleans _ Higgins Hotel 1.png" />
            <img src="../static/images/standard-room/Rooms-Suites-Palisades-Suite-2-1628x778 1.png" />
            <img src="../static/images/standard-room/Sofitel Hotel Taksim Istanbul - Standard room design 1.jpg" />
            <img src="../static/images/standard-room/The Standard to open design-led Asia flagship hotel in Bangkok 1.png" />
        </div>
    </div>
    <div id="deluxe-room" class="bg-main standard-bg">
        <div class="room-heading">
            <h2>Deluxe Room</h2>
        </div>
    </div>
    <div class="amenities">
        <img src="/static/images/roomamenities.png">
    </div>
    <div class="slider">
        <div class="slides">
            <img src="../static/images/deluxe-room/71CiOSe1EgL 1.png" />
            <img src="../static/images/deluxe-room/Boutique hotel room 1.png" />
            <img src="../static/images/deluxe-room/fe88eac6a02d7e2aeb2338e069ba7ac9 1 (1).png" />
            <img src="../static/images/deluxe-room/LUXURIOUS MASTER BEDROOM 1.png" />
            <img src="../static/images/deluxe-room/Travel-Themed Bedroom Inspiration (20+ Ideas from Around the Globe) 1.png" />
        </div>
    </div>
    <div id="super-deluxe-room" class="bg-main standard-bg">
        <div class="room-heading">
            <h2>Super Deluxe Room</h2>
        </div>
    </div>
    <div class="amenities">
        <img src="/static/images/roomamenities.png">
    </div>
    <div class="slider">
        <div class="slides">
            <img src="../static/images/super-deluxe-room/_ (1).png" />
            <img src="../static/images/super-deluxe-room/_ (2).png" />
            <img src="../static/images/super-deluxe-room/Autumn at ECO Hotel Saltus - Italy - Healing Hotels of the World 1.png" />
            <img src="../static/images/super-deluxe-room/Digital zoom background.png" />
            <img src="../static/images/super-deluxe-room/JAXDA designs boutique hotel in remote bamboo forest in china 1.png" />
            <img src="../static/images/super-deluxe-room/Travel-Themed Bedroom Inspiration (20+ Ideas from Around the Globe) 1.png" />
            <img src="../static/images/super-deluxe-room/Western Norway 1.png" />
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
