<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>LA Hotels</title>
    <link rel="stylesheet" href="../static/css/selectroom.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    {% include 'nav-menu.html' %}
    <div class="container"id="standard">
        <img src="/static/images/roompicintro.jpeg">
        <div class="standardTitle">
            <h1>Standard Room</h1>
        </div>
    </div>
    <div class="amenities">
        <img src="/static/images/roomamenities.png">
    </div>
    <div class="container"id="standard">
        <img src="/static/images/roompicintro.jpeg">
        <div class="standardTitle">
            <h1>Standard Room</h1>
        </div>
    </div>
    <div class="amenities">
        <img src="/static/images/roomamenities.png">
    </div>
    <div class="container"id="standard">
        <img src="/static/images/roompicintro.jpeg">
        <div class="standardTitle">
            <h1></h1>
        </div>
    </div>
    <div class="amenities">
        <img src="/static/images/roomamenities.png">
    </div>
    {% include 'footer.html' %}
</body>
</html>
